#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}




/* body */

body{
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: peachpuff;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

p{
  color: lightcoral;
}

h1{
  color: lightcoral;
}

/* Todo Item style */

/* Todo Item style */
.todo-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; /* Take the full width of the viewport */
  left: 0px;
}

/* nav */


.nav-container {
  display: flex;
  flex-direction: column;  /* Set the flex direction to column */
  height: 100vh;
  left: 0;
}

.nav-section {
  display: flex;
  flex-direction: column;  /* Set the flex direction to column */
}


/* Form style */




.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100vh;
  margin-left: 27vw;
 
}
.form-part{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

input{
  text-align: left;

}